
{% extends "admin/base.html" %}
{% load static %}
{% block title %}{{ title }} | {{ 'Sasawire Admin'}}{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">Sasawire Admin</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}
